{% extends 'Up2greenPortalBundle::layout.html.twig' %}

{% block content %}

    <section id="section-1"></section>
    <section id="section-2">
        <object type="text/html" data="http://www.youtube.com/embed/6_I70KACh4o" style="width:640px;height:385px;"></object>
    </section>
    <section id="section-3"></section>
    <section id="section-4"></section>

    <section id="section-5">
        <div class="row">
            <div class="col-md-4 item section-1">
                <div class="thumbnail">
                    <img src="{{ asset("/bundles/up2greenportal/images/facebook.png") }}" alt="{{ 'home.facebook.title'|trans }}">
                    <div class="caption">
                        <h3>{{ 'home.facebook.title'|trans }}</h3>
                        <p>{{ 'home.facebook.summary'|trans }}</p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">{{ 'btn.learn_more'|trans }}</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 item section-2">
                <div class="thumbnail">
                    <p>Découvrez ce qu'est up2green en vidéo !</p>
                    <img src="{{ asset("/bundles/up2greenportal/images/video.png") }}" alt="Video">
                </div>
            </div>
            <div class="col-md-4 item section-3">{{ 'main.reforestation'|trans }}</div>
            <div class="col-md-4 item section-4">{{ 'main.logo'|trans }}</div>
            <div class="col-md-4 item section-5">
                <img src="{{ asset("/bundles/up2greenportal/images/logo.png") }}" class="img-responsive center-block" alt="Responsive image">
            </div>
            <div class="col-md-4 item section-6">{{ 'main.association'|trans }}</div>
            <div class="col-md-4 item section-7">{{ 'main.education'|trans }}</div>
            <div class="col-md-4 item section-8"></div>
            <div class="col-md-4 item section-9"></div>
        </div>
    </section>

    <section id="section-6"></section>
    <section id="section-7"></section>
    <section id="section-8"></section>
    <section id="section-9"></section>

{% endblock %}
