{% extends 'Up2greenPortalBundle::layout.html.twig' %}

{% block content %}

    <div id="main">
        <div class="row">
            <div class="col-md-4">{{ 'main.education'|trans }}</div>
            <div class="col-md-4">{{ 'main.facebook'|trans }}</div>
            <div class="col-md-4">{{ 'main.association'|trans }}</div>
            <div class="col-md-4">{{ 'main.reforestation'|trans }}</div>
            <div class="col-md-4">{{ 'main.donate'|trans }}</div>
            <div class="col-md-4">{{ 'main.video'|trans }}</div>
            <div class="col-md-4">{{ 'main.search'|trans }}</div>
        </div>
    </div>

{% endblock %}
