{% extends 'Up2greenPortalBundle::layout.html.twig' %}

{% block content %}

    <section id="section-1"></section>
    <section id="section-2">
        <div class="embed-responsive embed-responsive-16by9">
            <object type="text/html" data="http://www.youtube.com/embed/6_I70KACh4o"></object>
        </div>
    </section>
    <section id="section-3"></section>
    <section id="section-4"></section>

    <section id="section-5">
        <div class="row">

            <div class="col-md-4">
                <div class="thumbnail" data-target-section="section-1" data-animation-duration="3000">
                    <img src="{{ "bundles/up2greenportal/images/homepage/placeholder-1.jpeg" | imagine_filter('thumbnail') }}" class="img-responsive img-rounded" alt="Lorem ipsum" />
                    <h3>Lorem Ipsum siet amet</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <img src="{{ "bundles/up2greenportal/images/homepage/placeholder-1.jpeg" | imagine_filter('thumbnail') }}" alt="Lorem Ipsum">
                        </div>
                        <div class="col-md-6">
                            <h3>Lorem Ipsum siet amet</h3>
                            <p class="text-right"><a href="#" class="btn btn-success" role="button">En savoir plus</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <img src="{{ "bundles/up2greenportal/images/homepage/placeholder-1.jpeg" | imagine_filter('thumbnail') }}" alt="Lorem Ipsum">
                        </div>
                        <div class="col-md-6">
                            <h3>Lorem Ipsum siet amet</h3>
                            <p class="text-right"><a href="#" class="btn btn-success" role="button">En savoir plus</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <img src="{{ "bundles/up2greenportal/images/homepage/placeholder-1.jpeg" | imagine_filter('thumbnail') }}" alt="Lorem Ipsum">
                        </div>
                        <div class="col-md-6">
                            <h3>Lorem Ipsum siet amet</h3>
                            <p class="text-right"><a href="#" class="btn btn-success" role="button">En savoir plus</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <img src="{{ "bundles/up2greenportal/images/homepage/placeholder-1.jpeg" | imagine_filter('thumbnail') }}" alt="Lorem Ipsum">
                        </div>
                        <div class="col-md-6">
                            <h3>Lorem Ipsum siet amet</h3>
                            <p class="text-right"><a href="#" class="btn btn-success" role="button">En savoir plus</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <img src="{{ "bundles/up2greenportal/images/homepage/placeholder-1.jpeg" | imagine_filter('thumbnail') }}" alt="Lorem Ipsum">
                        </div>
                        <div class="col-md-6">
                            <h3>Lorem Ipsum siet amet</h3>
                            <p class="text-right"><a href="#" class="btn btn-success" role="button">En savoir plus</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <img src="{{ "bundles/up2greenportal/images/homepage/placeholder-1.jpeg" | imagine_filter('thumbnail') }}" alt="Lorem Ipsum">
                        </div>
                        <div class="col-md-6">
                            <h3>Lorem Ipsum siet amet</h3>
                            <p class="text-right"><a href="#" class="btn btn-success" role="button">En savoir plus</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <img src="{{ "bundles/up2greenportal/images/homepage/placeholder-1.jpeg" | imagine_filter('thumbnail') }}" alt="Lorem Ipsum">
                        </div>
                        <div class="col-md-6">
                            <h3>Lorem Ipsum siet amet</h3>
                            <p class="text-right"><a href="#" class="btn btn-success" role="button">En savoir plus</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <img src="{{ "bundles/up2greenportal/images/homepage/placeholder-1.jpeg" | imagine_filter('thumbnail') }}" alt="Lorem Ipsum">
                        </div>
                        <div class="col-md-6">
                            <h3>Lorem Ipsum siet amet</h3>
                            <p class="text-right"><a href="#" class="btn btn-success" role="button">En savoir plus</a></p>
                        </div>
                    </div>
                </div>
            </div>

    </section>

    <section id="section-6"></section>
    <section id="section-7"></section>
    <section id="section-8"></section>
    <section id="section-9"></section>

{% endblock %}
